{% extends 'base.html'%}
{% block title %}Contact{% endblock title%}

{% block body %}
<div class="container-fluid  px-0 mb-3">
    <img src="https://source.unsplash.com/1200x400/?phone,contact" class="d-block w-100 px-0" alt="...">
</div>
<div class="container py-4">
    <h1 class="text-center"> Contact Us </h1>
    <form method="POST" action="/contact/">
        <div class="form-group">
            {% csrf_token%}
            <label for="name" class="form-label">Name </label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
            <label for="phone" class="form-label">Phone</label>
            <input type="phone" class="form-control" id="phone" name="phone"
                placeholder="Enter your phone number">
        </div>
        <div class="form-group">
                <label for="exampleFormControlTextarea1" class="form-label">Tell me what do you want to contact me
                    for</label>
                <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
        </div>
        <button class="btn btn-primary my-3" type="submit">submit</button>
    </form>

</div>
{% endblock body%}